.sectionContato {
    background-color: #0B0B0B;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 6rem;
    gap: 3rem;
    color: #FFFFFF;

    .divMeD {
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 20%;
       

        article {
            display: flex;
            flex-direction: row;
            align-items:start;
            justify-content: flex-start;
            gap: 0.80rem;
          
        
        }
    }

    .divContato {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        article {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0.80rem;
        }
    }

    .divRedes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
  

}

  .sectionDireitos {
    background-color: #0B0B0B;
    width: 100;
    display: flex;
    justify-content: center;
   

    div {
         background-color: #0B0B0B;
        width: 80%;
        height: auto;
        padding: 2rem;
         display: flex;
         justify-content: center;
          border-top: solid 1px #000000;

            p {
                color: #FFFFFF;
                font-size: 0.875rem;
                text-align: center;
            }
    }

  }

  @media (min-width: 201px) and (max-width: 700px) {
    .sectionContato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 2rem;
        padding: 2rem;

        .divMeD, .divContato, .divRedes {
            width: 40%;

            h3 {
                font-size: 0.850rem;
            }

            p {
               font-size: 0.600rem; 
            }
        }
    }

    .sectionDireitos {
        div {
            width: 100%;
            padding: 1rem;
           
            p {
                 font-size: 0.600rem;
            }
        }
    }
  }